extends layout

block content

  h1 ID: #{dishinstance._id}
  
  p #[strong Title:] 
    a(href=dishinstance.dish.url) #{dishinstance.dish.title}
  p #[strong Imprint:] #{dishinstance.imprint}

  p #[strong Status:] 
    if dishinstance.status=='Available'
      span.text-success #{dishinstance.status}
    else if dishinstance.status=='Maintenance'
      span.text-danger #{dishinstance.status}
    else
      span.text-warning #{dishinstance.status} 
      
  if dishinstance.status!='Available'
    p #[strong Due back:] #{dishinstance.due_back_formatted}

  hr
  p
    a(href=dishinstance.url+'/delete') Delete dishInstance
  p
    a(href=dishinstance.url+'/update') Update dishInstance