extends layout

block content

  h1= title
  
  p #[strong Do you really want to delete this dishInstance?]
  
  div(style="margin-left:20px")

    p #[strong ID]: #{dishinstance._id}
  
    p #[strong Title:] 
      a(href=dishinstance.dish.url) #{dishinstance.dish.title}
    
    p #[strong Imprint:] #{dishinstance.imprint}

    p #[strong Status:] 
      if dishinstance.status=='Available'
        span.text-success #{dishinstance.status}
      else if dishinstance.status=='Maintenance'
        span.text-danger #{dishinstance.status}
      else
        span.text-warning #{dishinstance.status} 
      
    if dishinstance.status!='Available'
      p #[strong Due back:] #{dishinstance.due_back_formatted}

  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=dishinstance._id )

    button.btn.btn-primary(type='submit') Delete